<% include partials/head %>

  <body>

    <% include partials/header %>

    <% if (user) { %>
      <section id="profile">
        <a href="search" id="back">
          < back</a>

            <a href="settings" id="settings">
              <Img src="images/settings_pink.png" alt="settings">
            </a>

              <Img src="/upload/<%= data.profilepicture %>" alt="gebruiker">
              <div>
                <p>
                  <%= data.name %>,
                    <%= data.dateofbirth %>
                </p>
                <p>
                  <%= data.location %>
                </p>

              </div>
      </section>

      <section id="your_interests">
        <h3> Your interests</h3>
        <a href="/changeinterests" id="changeinterests"><img src="images/pen.png" alt="change" title="change interest"></a>

        <% for(var i=0; i<6; i++) {%>
            <article>
              <img src="/upload/<%= data.pictures[i].filename %>" alt="interest climbing" class="interest">
              <h4><%= data.interests[i] %></h4>
            </article>
        <% } %>

      </section>
      <% } %>

  </body>

  </html>
